html {
  height: 100%;
  width: 100%;
}

h1 { /* lyricfinder */
  letter-spacing: 2px;
  font-size: 25px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight:bold;
  color: hotpink;
  text-align: center;
  line-height: 1.3em;
}

.intro-text { /* let's get started! */
  /*padding: 4%;*/
  margin: 3%;
  color: darkred; 
  font-size: 14px; 
  letter-spacing: 1px; 
  line-height: 1.4em; 
  text-align: center;
}

.spotify {
  background-color: white; /* Add your own background color */
  padding: 4%;
  margin: 2%;
  color: darkgreen; /* Add the color of your font */
  font-size: 10px; /* Add your font size*/
  letter-spacing: 1px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;
}

.lyric-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid #3c563c;
    color: #8FBC8F;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: #8FBC8F;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: #8FBC8F;
    color: rgb(167, 29, 29);
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: #a9a9a9;
}